
*{
    font-family: 'Lexend Mega', sans-serif;
}
body{
    background-image: linear-gradient(to left bottom, #C23D6B, #1ecbe1, #2c77da, rgba(217, 140, 38, 0.7));
    color: #e3901c;
    background-repeat: no-repeat;
    background-size: cover;
}
.ndxBox{
    width: 40%;
    height: auto;
    box-shadow: black 0 0 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 5px;
    float: left;
    margin: 5%;
}
.box{
    width: 60%;
    height: auto;
    box-shadow: black 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 5px;
}
.tblbox{
    width: 70%;
    height: auto;
    box-shadow: black 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 5px;
}
.bHead{
    width: 100%;
    background-image: linear-gradient(to left bottom, #C23D6B, rgba(217, 140, 38, 0.7));
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.bBody{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
}
ul{
    list-style-type: none;
}
li{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #C23D6B;
}
.bFoot{
    width: 100%;
    background-image: linear-gradient(to right top, #C23D6B, rgba(217, 140, 38, 0.7));
    border-top: 1px solid black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    bottom: 0px;
}
h2, h3 , li:last-child{
    font-family: 'Reggae One', cursive;
    text-shadow:-1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    padding: 30px;
}
table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 10px #2e2e2e;
}
td {
	padding: 10px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    position: relative;
}
thead th {
    text-align: left;
	padding: 10px;
    color: #2e2e2e;   
}
th:hover, td:hover {
    background-color: rgba(255,255,255,0.3);
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
} 
.icon-bar a:hover {
    transform: scale(1.2);
} 
.facebook {
    background: #3B5998;
    color: white;
}  
.twitter {
    background: #55ACEE;
    color: white;
} 
.GitHub {
    background: #000000;
    color: white;
} 
.linkedin {
    background: #007bb5;
    color: white;
} 
.youtube {
    background: #bb0000;
    color: white;
} 
.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}
.column img:hover {
    opacity: 1;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: relative;
    display: none;
}
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.formSec{
	width: 70%;
	font-size: 16px;
	background: rgba(136, 136, 136, 0.2);
	padding: 2%;
	border: 0px ;
    box-shadow: black 0 0 10px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.addPlace label {
    position: relative;
	display: block;
	margin: 10px;
	font-size: 20px;
    color: #2e2e2e;
    width: 30%;
}
.addPlace section label{
	display: inline-block;
    margin: 1%;
    margin-left: 24%;
}
.addPlace section input{
    margin-right: 20%;
}
.addPlace input[type=text]{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #2e2e2e;
	width: 200px;
	outline: none;
	padding: 0px;
	font-style: italic;
	font-size: 20px;
	color: #fff;
}
.addPlace input[type=text]:focus {
	border-bottom: 1px solid #D9FFA9;
}
.btn {
    background-color: #c23d6cc2;
	border: none;
	padding: 10px;
    width: 20%;
	color: #e2e2e2;
	font-size: 16px;
    transition: 1s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 5px;
    position: relative;
    left: 40%;
    bottom: -40px;
}
.btn:hover {
    font-size: 20px;
    margin: 5px;
    color: #2e2e2e;
	background: #1ecae19a;
    border: 2px solid #C23D6B;
}