
*{
    font-family: 'Lexend Mega', sans-serif;
}
body{
    background-image: linear-gradient(to left bottom, #C23D6B, #1ecbe1, #2c77da, #D98C26);
    color: #e3901c;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 70%;
    height: auto;
    box-shadow: black 0 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 5px;
}
.bHead{
    width: 100%;
    background-image: linear-gradient(to left bottom, #C23D6B, #D98C26);
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.bBody{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
}
ul{
    list-style-type: none;
}
li{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.bFoot{
    width: 100%;
    background-image: linear-gradient(to right top, #C23D6B, #D98C26);
    border-top: 1px solid black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    bottom: 0px;
}
h2, h3 , li:last-child{
    font-family: 'Reggae One', cursive;
    text-shadow:-1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}
a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    padding: 30px;
}
table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 10px #2e2e2e;
}
td {
	padding: 10px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    position: relative;
}
thead th {
    text-align: left;
	padding: 10px;
    color: #2e2e2e;   
}
th:hover, td:hover {
    background-color: rgba(255,255,255,0.3);
}
